@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  max-width: 1300px;
  border: 0px solid #222;
  margin: 0px auto;
}

header {
  background-color: white;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

header .header__logo {
  width: 122px;
}

header .header__blockmenucontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__rowlinks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header__rowlinks li {
  list-style-type: none;
}

header .header__link a {
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}

header .header__line {
  opacity: 0.36;
  /* Grey */
  width: 42px;
  border: 1px solid #939191;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0px 16px 0px 16px;
}

header .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

header .header__phoneicon {
  width: 40px;
  height: 40px;
}

header .header__contactsinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 14px;
}

header .header__phonetitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1e1b1b;
  opacity: 0.7;
}

header .header__phonenumber {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto;
}

.maininfo__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 7px;
}

.maininfo__title {
  font-family: Manrope;
  font-style: bold;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.maininfo__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  background: #ff6433;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  text-decoration: none;
  color: white;
}

.maininfo__opening-hours {
  min-width: none;
}

.maininfo__picture {
  padding: 0px 7px;
}

.opening-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opening-hours__icon {
  margin: 0px 13px 0px 0px;
}

.opening-hours__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opening-hours__title {
  max-width: 586px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}

.opening-hours__hours {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.getquote {
  background-color: #e2e6e9;
}

.getquote__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.getquote__infoblock {
  padding: 128px auto;
  margin: 128px auto;
  max-width: 584px;
}

.getquote__title h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.getquote__infodescription {
  margin: 48px 0px 0px 0px;
}

.getquote__link {
  min-width: none;
}

.getquote__formblock {
  min-width: none;
}

.infodescription__info-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 385px;
}

.infodescription__icon {
  min-width: none;
}

.infodescription__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 32px 16px;
}

.infodescription__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.infodescription__text {
  margin: 8px auto;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
  opacity: 0.6;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.link__text {
  margin: 0px 0px 0px 60px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.link__arrow {
  margin: 0px 0px 0px 21px;
}

.formblock {
  max-width: 625px;
}

.formblock p {
  margin: 0px 0px 4px 0px;
}

.formblock__title h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  margin: 0px 0px 32px 0px;
}

.formblock__inputelement {
  background: #ffffff;
  border-radius: 0px;
  border: 0px;
  width: 80%;
  /*растягиваем тексовое поле на всю ширину родителя*/
  border: none;
  min-width: 0;
  height: 72px;
  padding: 0px 0px 0px 40px;
}

.formblock__form input {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}

.formblock__button input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  border: 0px solid #1e1b1b;
  background: #ff6433;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: white;
}

@media (max-width: 992px) {
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  header .header__logo {
    width: auto;
  }
  header .header__link a {
    font-size: 24px;
  }
  header .header__phonetitle {
    font-size: 22px;
  }
  header .header__phonenumber {
    font-size: 20px;
  }
  header .header__line {
    display: none;
    visibility: hidden;
  }
  header .header__blockmenucontacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maininfo {
    margin: 10px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maininfo__information {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maininfo__picture {
    display: none;
    height: 30%;
  }
  .getquote {
    background-color: #e2e6e9;
  }
  .getquote__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px;
  }
}
/*# sourceMappingURL=style.css.map */