* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    max-width: 1300px;
    border: 0px solid #222;
    margin: 0px auto;
}

header {
    background-color: white;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 90px;

        &__logo {
            width: 122px;
        }

        &__blockmenucontacts {
            display: flex;
        }

        &__menu {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
        }

        &__rowlinks {
            display: inline-flex;

            li {
                list-style-type: none;
            }
        }

        &__link {
            a {
                text-decoration: none;
                padding: 0px 20px 0px 20px;

                font-family: Manrope;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;

                color: #1e1b1b;
            }
        }

        &__line {
            opacity: 0.36;
            /* Grey */

            width: 42px;
            border: 1px solid #939191;
            transform: rotate(90deg);
            margin: 0px 16px 0px 16px;
        }
        &__contacts {
            display: flex;
            align-items: center;
            margin: 0px;
        }

        &__phoneicon {
            width: 40px;
            height: 40px;
        }

        &__contactsinfo {
            display: flex;
            flex-direction: column;
            margin: 0px 0px 0px 14px;
        }

        &__phonetitle {
            font-family: Manrope;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #1e1b1b;

            opacity: 0.7;
        }

        &__phonenumber {
            font-family: Manrope;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 175%;

            color: #1e1b1b;
        }
    }
}

.maininfo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    //НЕЛЬЗЯ ТАК MARGIN!
    margin: 60px auto;

    &__information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 7px;
    }

    &__title {
        font-family: Manrope;
        font-style: bold;
        font-weight: 800;
        font-size: 64px;
        line-height: 84px;

        letter-spacing: -0.03em;
        color: #1e1b1b;
    }

    &__button a {
        display: flex;
        //flex-direction: row;
        align-items: flex-start;

        margin: 32px 0px 48px 0px;
        padding: 16px 40px;

        background: #ff6433;
        border-radius: 12px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        text-decoration: none;
        color: white;
    }

    &__opening-hours {
        min-width: none;
    }

    &__picture {
        padding: 0px 7px;
    }
}

.opening-hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__icon {
        margin: 0px 13px 0px 0px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width: 586px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #939191;
    }

    &__hours {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;

        color: #1e1b1b;
    }
}

.getquote {
    background-color: #e2e6e9;
    &__body {
        display: flex;

        align-items: center;
        justify-content: space-around;
        //margin: 128px auto;
        //padding: 128px auto;
    }

    &__infoblock {
        padding: 128px auto;
        margin: 128px auto;
        max-width: 584px;
    }

    &__title h1 {
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 76px;

        letter-spacing: -0.03em;

        color: #1e1b1b;
    }

    &__infodescription {
        margin: 48px 0px 0px 0px;
    }

    &__link {
        min-width: none;
        //display: flex;
        //margin: 32px 0px 0px 0px;
    }

    &__formblock {
        min-width: none;
    }
}

.infodescription {
    //display: flex;
    &__info-element {
        display: flex;
        flex-direction: row;
        max-width: 385px;
    }

    &__icon {
        min-width: none;
    }

    &__textblock {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 32px 16px;
        //align-items: center;
    }

    &__title {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.03em;

        color: #1e1b1b;
    }

    &__text {
        margin: 8px auto;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #1e1b1b;

        opacity: 0.6;
    }
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;

    &__text {
        margin: 0px 0px 0px 60px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;

        color: #1e1b1b;
    }

    &__arrow {
        margin: 0px 0px 0px 21px;
    }
}

.formblock {
    max-width: 625px;

    p {
        margin: 0px 0px 4px 0px;
    }
    &__title h1 {
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 140%;

        letter-spacing: -0.03em;

        color: #1e1b1b;

        margin: 0px 0px 32px 0px;
    }

    &__inputelement {
        background: #ffffff;
        border-radius: 0px;
        border: 0px;

        width: 80%; /*растягиваем тексовое поле на всю ширину родителя*/
        border: none;
        min-width: 0;
        height: 72px;
        padding: 0px 0px 0px 40px;
    }

    &__form {
        input {
            font-family: Manrope;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;

            color: #1e1b1b;
        }
    }

    &__button input {
        display: flex;
        //flex-direction: row;
        align-items: flex-start;

        margin: 32px 0px 48px 0px;
        padding: 16px 40px;
        border: 0px solid #1e1b1b;
        background: #ff6433;
        border-radius: 12px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        //text-decoration: none;
        color: white;
    }
}

.process {
    background-color: #ffffff;

    &__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 128px auto;
        //padding: 128px auto;
    }

    &__stepsblock {
        margin: auto 65px;
    }

    &__infoblock {
        margin: auto 65px;
        max-width: 524px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 76px;

        letter-spacing: -0.03em;

        /* Black */

        color: #1e1b1b;
    }

    &__text {
        margin: 16px 0px 0px 0px;
        max-width: 437px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;

        color: #1e1b1b;

        opacity: 0.6;
    }

    &__button a {
        display: flex;
        //flex-direction: row;
        align-items: flex-start;

        margin: 32px 0px 48px 0px;
        padding: 16px 40px;
        border: 0px solid #1e1b1b;
        background: #ff6433;
        border-radius: 12px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;

        color: white;
        text-decoration: none;
    }

    &__step {
        display: flex;
        flex-direction: row;
        max-width: 432px;
        margin: 0px 0px 16px 0px;
    }
}

.step {
    &__iconwithline {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 24px 0px 0px;
    }

    &__icon {
        display: flex;
        align-items: center;

        width: 72px;
        height: 72px;
        left: 975px;
        top: 1952px;
        clip-path: circle(50%);
        background: #661ce7;

        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 24px;
        /* identical to box height, or 75% */

        color: #ffffff;

        p {
            margin: 0 auto;
        }

        margin: 0px 0px 11px 0px;
    }

    &__line {
        margin: 0px 0px 0px 0px;
    }

    &__textblock {
        display: flex;
        flex-direction: column;
        margin: 13px 0px 0px 0px;
    }

    &__title {
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height, or 150% */

        letter-spacing: -0.03em;

        /* Black */

        color: #1e1b1b;
    }

    &__text {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;

        color: #1e1b1b;

        opacity: 0.6;
    }
}

.offers {
    background: #f2f2f2;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 128px auto 0px auto;
    }

    &__subtitle {
        margin: 128px 0px 0px 0px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;

        text-align: center;
        letter-spacing: -0.03em;

        color: #1e1b1b;
    }

    &__title {
        margin-top: 8px;
        max-width: 800px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 76px;
        /* or 131% */

        text-align: center;
        letter-spacing: -0.03em;

        color: #1e1b1b;
    }

    &__blocks {
        margin: 64px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        justify-content: center;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        margin: 0px 70px 128px auto;
        //flex-direction: row-reverse;

        &__link {
            margin: 0px 30px 0px 0px;
            padding: auto 20px;
        }
        //background-color: yellow;
    }
}

.blocks {
    &__element {
        min-height: 120px;
        min-width: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-basis: 15%;

        width: 100%;
        //height: 100vh;

        //padding: auto 0px;
        padding: 30px 40px;
        //width: auto;
        margin: 4px 4px;

        //border: 1px solid blue;
        // width: 316px;
        // height: 232px;
        background: #ffffff;
    }
    &__element:hover {
        div {
            color: #ffffff;
        }

        object {
            fill: blue;
            //color: blue;
            //background-color: white;
        }

        background: #ff6433;
    }

    &__title {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;

        text-align: center;
        letter-spacing: -0.03em;

        color: #1e1b1b;
    }
}

.contactus {
    background: #f2f2f2;
    &__body {
        display: flexbox;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        //margin: 128px auto;
    }

    &__banner {
        //background: #f2f2f2;
        // //background-image: ;
        // display: flex;
        // align-items: flex-start;
        // flex-direction: column;
        //background: url(img/background1.png) no-repeat center top / cover;
        background-image: url(img/background1.png);
        //background: url(img/background1.png) repeat-y #ff6433;
    }

    &__rowinfo {
        margin: 48px 0px 0px 0px;
        background: #f2f2f2;
    }
}

.banner {
    min-height: 502px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    //background-image: url(../img/background1.png);

    background: url(../img/background1.png) left bottom no-repeat, url(../img/background2.png) right top no-repeat;

    &__body {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: #ff6433;
        margin-left: 20%;
        //margin: 0px 0px 0px 318px;
        max-width: 569px;
        min-width: 250px;
        //background: cornflowerblue;

        // margin-left: auto;
        // margin-right: auto;
    }

    &__title {
        //max-width: 569px;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 140%;
        letter-spacing: -0.03em;

        color: #ffffff;
    }

    &__button a {
        display: flex;
        //flex-direction: row;
        align-items: flex-start;

        margin: 32px 0px 48px 0px;
        padding: 16px 40px;
        border: 0px solid #1e1b1b;
        background: #1e1b1b;
        border-radius: 12px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 175%;
        //text-decoration: none;
        color: white;
    }
}
.rowinfo {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    &__el {
        margin: 48px 0px;
    }

    &__title {
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 58px;
        line-height: 76px;

        text-align: center;
        letter-spacing: -0.03em;
        color: #661ce7;
    }

    &__text {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */

        letter-spacing: -0.03em;

        /* Black */

        color: #1e1b1b;

        opacity: 0.7;
    }
}

.brends {
    background: #fafafa;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin: 128px auto 0px auto;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 140%;

        text-align: center;
        letter-spacing: -0.03em;

        color: #1e1b1b;
    }

    &__block-with-logotypes {
        // margin: 40px 0px 0px 0px;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-start;

        margin: 0px auto 15px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        justify-content: center;
    }

    &__logotype {
        max-width: 225px;
        min-height: 140px;
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-basis: 13%;

        margin: 38px 38px;
    }
}

// --------------КАРУСЕЛЬ----------------

.reviews {
    background: #f2f2f2;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        max-width: 909px;
        margin: 128px auto 94px auto;
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 140%;
        /* or 67px */

        text-align: center;
        letter-spacing: -0.03em;

        /* Black */

        color: #1e1b1b;
    }

    &__carousel {
        display: flex;
        flex-direction: row;
    }

    &__strips {
        display: flex;
        flex-direction: row;
    }

    &__strip {
        min-width: 32px;
        max-height: 3px;
        background-image: url(../img/rewiews/strip.svg);
        margin: 47px 15px;
        &_active {
            min-width: 32px;
            margin: 47px 15px;
            max-height: 3px;
            background-image: url(../img/rewiews/active-strip.svg);
        }
    }

    &__buttons {
        margin: 16px auto;

        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__button-left {
        background-color: yellow;
    }

    &__button-right {
        background-color: yellow;
    }
}

.carousel {
    &__infoblock {
        padding: 72px 72px;
        max-width: 516px;
        margin: 0px 24px;
        border: 2px solid black;
        background-color: white;
        display: flex;
        //align-items: center;
        //justify-content: center;
        flex-direction: column;

        // max-width: 616px;

        //flex-direction: row;
    }
}
.infoblock {
    &__contact {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__picture {
        min-width: 64px;
    }

    &__name-and-city {
        margin: 0px 0px 0px 16px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height, or 150% */

        letter-spacing: -0.03em;
        color: #1e1b1b;
    }

    &__city {
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;

        color: #939191;
    }

    &__message {
        margin: 24px 0px 0px 0px;
        max-width: 472px;

        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* or 150% */

        letter-spacing: -0.03em;
        color: #1e1b1b;
    }
}

// Медио запросы ниже ===========================================!!!!!!!!!!!============================!!!!!!!!===============================================

@media (max-width: 992px) {
    header {
        .header {
            flex-direction: column;
            height: auto;

            &__logo {
                width: auto;
            }

            &__link {
                a {
                    font-size: 24px;
                }
            }

            &__phonetitle {
                font-size: 22px;
            }

            &__phonenumber {
                font-size: 20px;
            }

            &__line {
                display: none;
                visibility: hidden;
            }

            &__blockmenucontacts {
                //background-color: yellow;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .maininfo {
        //display: flex;

        margin: 10px auto;
        flex-direction: column;

        &__information {
            align-items: center;
        }

        &__title {
            font-size: 28px;
        }

        &__picture {
            //width: 100%;
            //height: auto;
            display: none;
            //position: relative;
            height: 30%;
            //transform: translateY(-50%);
        }
    }

    .getquote {
        background-color: #e2e6e9;
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px;
        }
    }

    .infodescription {
        display: flex;
        align-items: center;
    }

    .process {
        &__body {
            flex-direction: column;
        }
    }
}
