.container {
  max-width: 1300px;
  border: 1px solid #222;
  margin: 0px auto;
}

header {
  background-color: white;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

header .header__logo {
  width: 122px;
}

header .header__blockmenucontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .header__rowlinks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header__rowlinks li {
  list-style-type: none;
}

header .header__link a {
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}

header .header__line {
  opacity: 0.36;
  /* Grey */
  width: 42px;
  border: 1px solid #939191;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0px 16px 0px 16px;
}

header .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

header .header__phoneicon {
  width: 40px;
  height: 40px;
}

header .header__contactsinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 14px;
}

header .header__phonetitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1e1b1b;
  opacity: 0.7;
}

header .header__phonenumber {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto;
}

.maininfo__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 7px;
}

.maininfo__title {
  font-family: Manrope;
  font-style: bold;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.maininfo__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  background: #ff6433;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  text-decoration: none;
  color: white;
}

.maininfo__picture {
  padding: 0px 7px;
}

.opening-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opening-hours__icon {
  margin: 0px 13px 0px 0px;
}

.opening-hours__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opening-hours__title {
  max-width: 586px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}

.opening-hours__hours {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

@media (max-width: 992px) {
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  header .header__line {
    display: none;
    visibility: hidden;
  }
  header .header__blockmenucontacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maininfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maininfo__information {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maininfo__picture {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */