@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  max-width: 1300px;
  border: 0px solid #222;
  margin: 0px auto;
}

header {
  background-color: white;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

header .header__logo {
  width: 122px;
}

header .header__blockmenucontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__rowlinks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header__rowlinks li {
  list-style-type: none;
}

header .header__link a {
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}

header .header__line {
  opacity: 0.36;
  /* Grey */
  width: 42px;
  border: 1px solid #939191;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0px 16px 0px 16px;
}

header .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

header .header__phoneicon {
  width: 40px;
  height: 40px;
}

header .header__contactsinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 0px 14px;
}

header .header__phonetitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1e1b1b;
  opacity: 0.7;
}

header .header__phonenumber {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto;
}

.maininfo__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 7px;
}

.maininfo__title {
  font-family: Manrope;
  font-style: bold;
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.maininfo__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  background: #ff6433;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  text-decoration: none;
  color: white;
}

.maininfo__opening-hours {
  min-width: none;
}

.maininfo__picture {
  padding: 0px 7px;
}

.opening-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opening-hours__icon {
  margin: 0px 13px 0px 0px;
}

.opening-hours__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opening-hours__title {
  max-width: 586px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #939191;
}

.opening-hours__hours {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.getquote {
  background-color: #e2e6e9;
}

.getquote__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.getquote__infoblock {
  padding: 128px auto;
  margin: 128px auto;
  max-width: 584px;
}

.getquote__title h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.getquote__infodescription {
  margin: 48px 0px 0px 0px;
}

.getquote__link {
  min-width: none;
}

.getquote__formblock {
  min-width: none;
}

.infodescription__info-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 385px;
}

.infodescription__icon {
  min-width: none;
}

.infodescription__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 32px 16px;
}

.infodescription__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.infodescription__text {
  margin: 8px auto;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
  opacity: 0.6;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.link__text {
  margin: 0px 0px 0px 60px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
}

.link__arrow {
  margin: 0px 0px 0px 21px;
}

.formblock {
  max-width: 625px;
}

.formblock p {
  margin: 0px 0px 4px 0px;
}

.formblock__title h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #1e1b1b;
  margin: 0px 0px 32px 0px;
}

.formblock__inputelement {
  background: #ffffff;
  border-radius: 0px;
  border: 0px;
  width: 80%;
  /*растягиваем тексовое поле на всю ширину родителя*/
  border: none;
  min-width: 0;
  height: 72px;
  padding: 0px 0px 0px 40px;
}

.formblock__form input {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
}

.formblock__button input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  border: 0px solid #1e1b1b;
  background: #ff6433;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: white;
}

.process {
  background-color: #ffffff;
}

.process__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 128px auto;
}

.process__stepsblock {
  margin: auto 65px;
}

.process__infoblock {
  margin: auto 65px;
  max-width: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.process__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  /* Black */
  color: #1e1b1b;
}

.process__text {
  margin: 16px 0px 0px 0px;
  max-width: 437px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1e1b1b;
  opacity: 0.6;
}

.process__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  border: 0px solid #1e1b1b;
  background: #ff6433;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: white;
  text-decoration: none;
}

.process__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 432px;
  margin: 0px 0px 16px 0px;
}

.step__iconwithline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 24px 0px 0px;
}

.step__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  height: 72px;
  left: 975px;
  top: 1952px;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  background: #661ce7;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;
  /* identical to box height, or 75% */
  color: #ffffff;
  margin: 0px 0px 11px 0px;
}

.step__icon p {
  margin: 0 auto;
}

.step__line {
  margin: 0px 0px 0px 0px;
}

.step__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 13px 0px 0px 0px;
}

.step__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  letter-spacing: -0.03em;
  /* Black */
  color: #1e1b1b;
}

.step__text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #1e1b1b;
  opacity: 0.6;
}

.offers {
  background: #f2f2f2;
}

.offers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 128px auto 0px auto;
}

.offers__subtitle {
  margin: 128px 0px 0px 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.offers__title {
  margin-top: 8px;
  max-width: 800px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  /* or 131% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.offers__blocks {
  margin: 64px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  margin: 0px 70px 128px auto;
}

.offers__link__link {
  margin: 0px 30px 0px 0px;
  padding: auto 20px;
}

.blocks__element {
  min-height: 120px;
  min-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  width: 100%;
  padding: 30px 40px;
  margin: 4px 4px;
  background: #ffffff;
}

.blocks__element:hover {
  background: #ff6433;
}

.blocks__element:hover div {
  color: #ffffff;
}

.blocks__element:hover object {
  fill: blue;
}

.blocks__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.contactus {
  background: #f2f2f2;
}

.contactus__body {
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
}

.contactus__banner {
  background-image: url(img/background1.png);
}

.contactus__rowinfo {
  margin: 48px 0px 0px 0px;
  background: #f2f2f2;
}

.banner {
  min-height: 502px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/background1.png) left bottom no-repeat, url(../img/background2.png) right top no-repeat;
}

.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ff6433;
  margin-left: 20%;
  max-width: 569px;
  min-width: 250px;
}

.banner__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.banner__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 32px 0px 48px 0px;
  padding: 16px 40px;
  border: 0px solid #1e1b1b;
  background: #1e1b1b;
  border-radius: 12px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: white;
}

.rowinfo {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}

.rowinfo__el {
  margin: 48px 0px;
}

.rowinfo__title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #661ce7;
}

.rowinfo__text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.03em;
  /* Black */
  color: #1e1b1b;
  opacity: 0.7;
}

.brends {
  background: #fafafa;
}

.brends__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brends__title {
  margin: 128px auto 0px auto;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}

.brends__block-with-logotypes {
  margin: 0px auto 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brends__logotype {
  max-width: 225px;
  min-height: 140px;
  min-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  margin: 38px 38px;
}

@media (max-width: 992px) {
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  header .header__logo {
    width: auto;
  }
  header .header__link a {
    font-size: 24px;
  }
  header .header__phonetitle {
    font-size: 22px;
  }
  header .header__phonenumber {
    font-size: 20px;
  }
  header .header__line {
    display: none;
    visibility: hidden;
  }
  header .header__blockmenucontacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maininfo {
    margin: 10px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maininfo__information {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .maininfo__title {
    font-size: 28px;
  }
  .maininfo__picture {
    display: none;
    height: 30%;
  }
  .getquote {
    background-color: #e2e6e9;
  }
  .getquote__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px;
  }
  .infodescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */